.location:hover{
    background-color: #edede9;
    border-radius: 8px;
 padding: 6px;
    margin-top: 3px;
    cursor: pointer;
}


@media (max-width: 600px) {
    .header {
      flex-direction: column;
    }
    .header-logo {
      width: 100%;
      text-align: center;
    }
    .header-buttons {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 400px) {
    .header {
      padding: 10px;
    }
    .header-logo {
      width: 50%;
    }
    .header-buttons {
      width: 50%;
    }
  }