

.image {
min-width: 370px;
max-width: 370px;
min-height: 330px;
max-height: 330px;
transition: all 0.8s ease;
cursor: pointer;
}
.image:hover {
transform: scale(1.1);

}
.image-container {
overflow: hidden;
}